body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Orbitron',sans-serif;
    background: black;
}
.calculator{
    width: 260px;
    background: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
    position: relative;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.btn{
    width: 55px;
    height: 55px;
    font-size: 1.2em;
    color: white;
    background: linear-gradient(145deg,#555,#333);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 02s ease;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
#display{
    background : linear-gradient(145deg,#222,#111);
    color: #00ffcc;
    text-align: right;
    padding: 15px;
    font-size: 2em;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 15px #00ffcc;
    position: relative;
    overflow-y: hidden;
}
.btn:nth-child(4n){
    background: #ff9500;
    box-shadow: 0 0 10px #ff9500;
}
.btn:nth-last-child(2){
    background: #007aff;
    box-shadow: 0 0 10px #007aff;
}
.btn:nth-last-child(3){
    background: #ff3b30;
    box-shadow: 0 0 10px #ff3b30;
}
.btn:nth-child(4n):hover{
    background: #ffa733;
}
.btn:nth-last-child(2):hover{
    background: #339bff;
}
.btn:nth-last-child(3):hover{
    background: #ff4d4d;
}
.btn:hover{
    background: linear-gradient(145deg, #666,#444);
    box-shadow: 0px 6px 10px rgba(0,0,0,0.3),0px 0px 10px rgba(255,255,2555,0.3);
}